.col-background {
  background-color: white;
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.finances-col-background {
  background-color: white;
  margin-right: 5px;
  margin-bottom: 5px;
}

.finances-card-title {
  text-align: center;
  margin-top: 10px;
  font-size: 2rem;
}
