body {
  background-image: url("../src/Components/Pictures/Milling\ background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  animation-fill-mode: forwards;

  animation-iteration-count: infinite;

  animation-direction: alternate;
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.center h1 {
  text-align: center;
  color: white;
  font-family: "Source Code Pro", monospace;
  text-transform: uppercase;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh; /* Wysokość 40% widoku przeglądarki */
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.basicFont {
  color: white;
  font-weight: bold;
}

.datePicker {
  background-color: white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 1); /* Czarne tło z półprzezroczystością */
  border-radius: 50%; /* Okrągłe tło */
}
