@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.center h1 {
  text-align: center;
  color: white;
  font-family: "Source Code Pro", monospace;
  text-transform: uppercase;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh; /* Wysokość 40% widoku przeglądarki */
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.basicFont {
  color: white;
  font-weight: bold;
}

.datePicker {
  background-color: white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 1); /* Czarne tło z półprzezroczystością */
  border-radius: 50%; /* Okrągłe tło */
}

.background {
  background-image: url("../src/Components/Pictures/Milling\ background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  animation-fill-mode: forwards;

  animation-iteration-count: infinite;

  animation-direction: alternate;
  width: 100%;
}

.partners-bacground {
  background: 
  /* Pierwsze tło - gradient z koloru białego na tło z partners-background */ linear-gradient(
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    ),
    /* Drugie tło - partners-background */
      url("../src/Components/Pictures/PartnersBackground.png") no-repeat
      center/cover;
}

.tabs-maggin {
  margin-left: 20px; /* Margines z lewej strony */
  margin-right: 20px; /* Margines z prawej strony */
}

body {
  background-color: white;
}

.h2-partners {
  color: black;
}
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.h1-applay {
  left: 50%;
  color: white;
}

.form-label {
  color: white;

  font-size: 1.3em; /* Powiększenie rozmiaru czcionki */
}
