.col-background {
  background-color: white;
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reportsAndAnalytics-col-background {
  background-color: white;
  margin-right: 5px;
  margin-bottom: 5px;
}

.reportsAndAnalytics-card-title {
  text-align: center;
  margin-top: 10px;
  font-size: 2rem;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.background {
  background: url("../src/Components/Pictures/Milling background.jpg") top
    no-repeat;

  background-size: cover, cover;
  min-height: 100vh;
  position: relative;
  z-index: 0;
}
